#question {

  h3 {
    text-align: left;
  }

  .btn {
    width: 100%;
    border: 2px solid var(--color-black);
    border-radius: 1rem;
    color: var(--color-black);
    padding: 10px 50px 10px 50px;
    margin-bottom: 10px;
  }
}
