<h2><%= @aid.name%></h2>
    <% @steps.each do |step| %>
      <h5><strong>Position:</strong>  <%= step.position %></h5>
      <h5><strong>Description:</strong> <%= step.description %></h5>
    <% end %>
