<h5><%= @aid.name%></h5>

 <div class="step-aid">
  <% @steps.each do |step| %>
  <div class="product">
    <% step.photo.key %>
      <%= cl_image_tag step.photo.key, class:"step-aid-image", :crop => "fit"%>
     <div class="product-text">
      STEP:  <a><%= step.position %></a><br>
      <%= step.description %>
      </div>
  </div>
  <% end %>
 </div>
