<div class="container vh-100">
  <section id="edit_em">
    <h2>Edit my contact</h2>
    <%= simple_form_for ([@emergency]) do |f| %>
      <%= f.input :name %>
      <%= f.input :phone_number %>
      <%= f.submit id: 'btn' %>
    <% end %>
  </section>
</div>
