<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa-solid fa-house"></i></a>
    <a href="#"><i class="fa-solid fa-phone"></i></a>
    <a href="#"><i class="fa-solid fa-briefcase-medical"></i></a>
    <a href="#"><i class="fa-sharp fa-solid fa-location-dot"></i></a>


  </div>
</div>
