<div class="footer">
<ul>
</ul>
  <li class="footer-links">
    <a href="/"><i class="fa-solid fa-house"></i>
    <span class ="icon"></span>
    <span class ="text">Home</span>
    </a>

      <li class="footer-links">
    <a href="/"><i class="fa-solid fa-phone"></i>
    <span class ="icon"></span>
    <span class ="text">Emergencies</span>
    </a>

      <li class="footer-links">
    <a href="/"><i class="fa-solid fa-briefcase-medical"></i>
    <span class ="icon"></span>
    <span class ="text">First-aids</span>
    </a>

      <li class="footer-links">
    <a href="/"><i class="fa-solid fa-solid fa-location-dot"></i>
    <span class ="icon"></span>
    <span class ="text">Map</span>
    </a>

  </li>
</div>
