<div class="nav__footer">
  <ul>
    <li>
      <%= link_to "#", class: "" do %>
        <i class="fa-solid fa-phone" id= "icon"></i>
      <% end %>
    </li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
