<div class="container">
  <h1>Categories</h1>
  <div class="cards">
    <div class="card">
      <div>
        <h2>Emergency numbers</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum, ad.</p>
        <%= link_to "show more", emergencies_path %>
      </div>
      <div class= "">img.png</div>
    </div>
    <div class="card">
      <div>
        <h2>First Aid Guides</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum, ad.</p>
        <%= link_to "show more", aids_path %>
      </div>
      <div class= "">img.png</div>
    </div>
  </div>
</div>
