<h1>Categories</h1>

<h2>Emergency numbers</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum, ad.</p>
<%= link_to "show more", emergencies_path %>

<h2>First Aid Guides</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum, ad.</p>
<%= link_to "show more", aids_path %>
