.btn-default{
  width: 78px;
  height: 18px;
  left: 50px;
  top: 343px;
  border-radius: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: white;
  padding: 8px 24px;
  background: #017D98;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}
