.nav__footer{
  background: var(--color-white);
  padding: 0.3rem;
  width: 100%;
  position: fixed;
  bottom: 0rem;
  display: flex;

  ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 0 auto;
    padding: 0px;

  }

  ul>li {
    list-style: none;

  }

  .n_icon{
    font-size: 1.5rem;
  }
}
